.container-authheader {
    background-color: #ff385c;
    height: 100px;
    margin-bottom: 50px;

        .logo div h1{
            font-weight: bolder;
            color: #f7f7f7;
            margin: 0 20px;
        }

        ul li .nav-link {
            color: #f7f7f7;
        }

        .dropdown-item {
            color: #777f87;
        }
}
