section {

    height: $header;
    width: 100%;
    background-color: #ffffff;

    .container {

        .row {

            height: 100%;

            .logo {

                h1 {
                    font-weight: bolder;
                    color: #001632;
                }

            }

            .navbar-nav {

                .nav-item .nav-link {

                    color: #001632;


                }

                .dropdown-menu {

                    background-color: #001632;
                    border-radius: 10px;

                    .dropdown-item {
                        color: #ffffff;
                    }

                    .dropdown-item:hover {

                        background-color: #001632;
                    }

                }

            }

        }

    }

}
