 .header {

     height: $header;
     width: 100%;
     background-color: rgb(255, 254, 252);

     .container {

         .row {

             height: 100%;

             .logo {

                 h1 {
                     font-weight: bolder;
                     color: #ff385c;
                 }

             }

             .navbar-nav {

                 .dropdown-menu {

                     background-color: transparent;
                     padding: 0;
                     border: 1px solid #ff385c;
                     border-radius: 10px;

                     .dropdown-item {
                         color: #ff385c;

                         &:hover {
                             background-color: white;
                             box-shadow: 0px 0px 10px 0px #ff385c !important;
                         }

                         &:first-child:hover {
                             border-radius: 10px 10px 0 0;
                         }

                         &:nth-last-child(2):hover {
                             border-radius: 0 0 10px 10px;
                         }

                     }
                 }

             }

         }

     }

 }

 @media screen and (min-width: 576px) {
     #drop-ham-auth {
         display: none;

         .dropdown-menu {
             transform: translate3d(-57px, 37px, 0px);
         }

         #icon-ham-auth {
             color: #ff385c;
         }
     }
 }

 @media screen and (max-width: 575px) {
     .btn-ham-auth {
         display: none;
         color: #ff385c;
     }
 }
