*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: green;
}

.btnred {
    background-color: #ff385c !important;
    color: white !important;
}

a {
    text-decoration: none !important;
}

h2{
    color: #ff385c;
}
