* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {

    height: 100% !important;

}

.btn {

    outline: none !important;
}

.btnblue {
    background-color: #001632 !important;
    color: #ffffff !important;
}

.btnwhite {
    background-color: #ffffff !important;
    color: #001632 !important;
}

a {
    text-decoration: none !important;
}

.btn-link {
    color: #001632 !important;
}
