.dashboard{
    padding: 80px 0;

    .dashboard-section{
        height: 500px;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    .list-group-item.active{
        background-color: #ff385c;
        border-color: #ff385c;
    }

}