footer {

    height: $footer;
    width: 100%;
    background-color: #ffffff;

    .container {

        .row {

            height: 100%;

            li a {

                color: #001632;

            }
        }
    }
}
