footer {

    height: $footer;
    width: 100%;
    background-color: #ffffff;

    .container {

        .row {

            height: 100%;

            span a {

                color: #001632;
                padding-right: 30px;

            }
        }
    }
}
