footer {

    // height: $footer;
    width: 100%;
    background-color: white;
    border: none;

    .container {

        a, h5, i, li {
            color: black;
        }

        ul {
            line-height: 40px;
            margin-top: 20px;
            // text-align: center;

            a:hover {
                text-decoration: underline !important;
                color: #ff385c !important;
            }
            
        }

        .social {
            height: 80%;
        }

        .inc {
            height: 20%;
            border-top: 1px solid #c2c2c2;

            #menu li {

                display: inline;

            }

        }

    }
}
