header {

    height: 800px;
    width: 100%;
    background-image: url("img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .container {

        .row {

            height: 22%;

            .logo {

                h1 {
                    font-weight: bolder;
                    color: white;
                }

            }

            .navbar-nav {


                .nav-item .nav-link {

                    color: white;


                }

                border: none;

                .dropdown-item {
                    color: #6c757d;
                }

                .dropdown-item:hover {

                    color: #ff385c;
                    background-color: white;
                }
            }
        }
    }
}
