header{
    background-color: #0cd977;
    .container-logo{
        .logo div h1{
            font-weight: bolder;
            color: #00234f;
        }

        .navbar-nav .nav-item a{
            color: #00234f;
            text-decoration: none;
        }

    }
}
