header {

    height: 800px;
    width: 100%;
    background-image: url("img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .container {

        .row {

            height: 22%;

            .logo {

                h1 {
                    font-weight: bolder;
                    color: white;
                }

            }

            .navbar-nav {


                .nav-item .nav-link {

                    color: white;

                }

                border: none;

                .dropdown-menu {

                    background-color: transparent;
                    padding: 0;
                    border: 1px solid white;
                    border-radius: 10px;

                    .dropdown-item {
                        color: white;

                        &:hover {
                            background-color: #ff385c;
                            box-shadow: 0px 0px 10px 0px #ff385c !important;
                        }

                        &:first-child:hover {
                            border-radius: 10px 10px 0 0;
                        }

                        &:nth-last-child(2):hover {
                            border-radius: 0 0 10px 10px;
                        }

                    }
                }

            }
        }

        .search-bar-home {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 300px;
            height: 100px;

            .search {
                position: absolute;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 80px;
                height: 80px;
                background: #ff385c;
                border-radius: 50%;
                transition: all 1s;
                z-index: 4;
                box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);

                // box-shadow: 0 0 25px 0 crimson;
                &:hover {
                    cursor: pointer;
                }

                &::before {
                    content: "";
                    position: absolute;
                    margin: auto;
                    top: 22px;
                    right: 0;
                    bottom: 0;
                    left: 22px;
                    width: 12px;
                    height: 2px;
                    background: white;
                    transform: rotate(45deg);
                    transition: all .5s;
                }

                &::after {
                    content: "";
                    position: absolute;
                    margin: auto;
                    top: -5px;
                    right: 0;
                    bottom: 0;
                    left: -5px;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 2px solid white;
                    transition: all .5s;
                }
            }

            input {
                font-family: 'Nunito', monospace;
                position: absolute;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 60px;
                height: 60px;
                outline: none;
                border: none;
                // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                background: rgb(123, 99, 104);
                color: white;
                text-shadow: 0 0 10px #ff385c;
                padding: 0 80px 0 20px;
                border-radius: 30px;
                box-shadow: 0 0 25px 0 #ff385c,
                    0 20px 25px 0 rgba(0, 0, 0, 0.2);
                // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
                transition: all 1s;
                opacity: 0;
                z-index: 5;
                font-weight: bolder;
                letter-spacing: 0.1em;

                &:hover {
                    cursor: pointer;
                }

                &:focus {
                    width: 300px;
                    opacity: 1;
                    cursor: text;
                }

                &:focus~.search {
                    right: -250px;
                    background: #ff385c;
                    z-index: 6;

                    &::before {
                        top: 0;
                        left: 0;
                        width: 25px;
                    }

                    &::after {
                        top: 0;
                        left: 0;
                        width: 25px;
                        height: 2px;
                        border: none;
                        background: white;
                        border-radius: 0%;
                        transform: rotate(-45deg);
                    }
                }

                &::placeholder {
                    color: white;
                    opacity: 0.5;
                    font-weight: bolder;
                }
            }
        }

    }
}
