main {

    width: 100%;
    background-color: #001632;
    min-height: calc(100vh - #{$header} - #{$footer});

    // home

    .container {

        .title {
            text-align: center;

            h2 {
                color: #ffffff;
                font-weight: bolder;
                margin: 100px 0px;
            }
        }

        .view {
            .scrollMenu {

                overflow-y: hidden;
                flex-wrap: nowrap;

                .card {
                    border-radius: 10px;
                    flex: 0 0 auto;
                    width: 33.333%;

                    h5 {
                        color: #001632;
                        font-weight: bolder;
                    }

                    p {
                        color: #001632;
                    }

                    .card-img-top {

                        border-radius: 10px 10px 0px 0px;
                        height: 40%;
                    }

                    .card-body {
                        height: 50%;

                        .card.title {
                            height: 20%;
                        }

                        .card-text {
                            height: 80%;
                        }

                    }

                    .card-footer {
                        height: 10%;
                        background-color: #ffffff;
                        border-top: 2px solid #c2c2c2;
                        border-radius: 0px 0px 10px 10px;

                        small {
                            color: #c2c2c2;
                        }
                    }
                }
            }
        }

        .host {

            padding-bottom: 100px;

            img {
                border-radius: 10px;
                height: 100%;
                width: 100%;
            }

            h4 {
                color: #ffffff;
                font-weight: bolder;
                margin-bottom: 100px;
            }

            .col-4 .row {
                text-align: center;
            }
        }
    }

    // Show

    #map {
        width: 500px;
        height: 500px;
    }

    .show-house {

        .img-show-ctr {
            height: 400px;
            width: 700px;
        }

        #img-show {
            border-radius: 10px;
            height: 90%;
            width: 90%;
        }

        .row {

            .card-show {

                background-color: transparent !important;
                margin-top: 40px;
                border: none;

                .house-main-text {
                    padding-left: 10px;
                    padding-bottom: 10px;
                }

                .house-details {

                    .house-det {
                        padding: 0 10px;

                        i {
                            font-size: 20px;
                        }
                    }
                }

                .service-title {

                    padding-top: 20px;

                }

                .service-show {
                    padding-left: 10px;
                    display: inline-block;

                    li {
                        list-style: none;
                        float: left;

                        i {
                            font-size: 20px;
                        }
                    }
                }
            }

            .maps,
            .messages {

                margin: 20px 0;

                #sponsor-img {
                    width: 100%;
                    border-radius: 10px;
                    margin-bottom: 20px;
                }

                .sponsor-show-text {
                    padding-top: 40px;
                }

                #map {
                    border-radius: 10px;
                }
            }

            label {
                color: #ffffff;
            }
        }
    }

    // Login - register

    .login-register {

        .card {
            margin: 100px 0;

            label {
                color: #001632;
                text-align: center;
            }
        }
    }

    // Create

    .create {

        form {

            .row {

                label {
                    color: #ffffff;
                    text-align: center;
                }
            }

            #img-create,
            #img-edit {
                background-color: #001632;
                border: none;
                padding-left: 0;
                margin-right: 20px;
            }

            #create-house {
                margin-bottom: 20px;
                background-color: white;
                color: #001632;
            }
        }
    }

    li a {
        color: #ffffff;
    }

    // edit house

    #edit-house {
        margin-bottom: 20px;
    }

    // create sponsor

    .sponsor-select {
        padding-top: 20px;
    }


    .form-message {
        margin-top: 40px !important;
    }

    #payment-btn {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 1198px) and (min-width: 992px) {

    .apartment {
        width: 40% !important;
    }

}

@media screen and (max-width: 991px) and (min-width: 768px) {

    #img-show {
        height: 400px;
        width: 400px;
    }

    .apartment {
        width: 50% !important;
    }

}

@media screen and (max-width: 767px) {

    .img-show-ctr {
        margin-bottom: 40px;
        height: 135px;
        width: 280px;
    }

    #img-show {
        height: 300px;
        width: 300px;
    }

    .apartment {
        width: 100% !important;
    }

}
